.muuri-grid {
  position: relative;
  width: 100%;
}

.item {
  position: absolute;
  margin: 10px;
  z-index: 1;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.875rem; // Tailwind text-2xl equivalent
  cursor: pointer;
}

.grid-2 .item-content {
  background: green;
}

.item.muuri-item-dragging .item-content,
.item.muuri-item-releasing .item-content {
  background: blue;
}
