@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-gradient-start: theme('colors.primary');
  --tw-gradient-mid: theme('colors.secondary');
  --tw-gradient-end: theme('colors.accent');
}

*,
body,
html {
  font-family: 'Oxygen', 'Roboto', sans-serif;
}

/* Light Theme */
[data-theme='light'] {
  --tw-gradient-start: var(--p); /* Primary color */
  --tw-gradient-mid: var(--s); /* Secondary color */
  --tw-gradient-end: var(--a); /* Accent color */
}

/* Dark Theme */
[data-theme='dark'] {
  --tw-gradient-start: var(--p);
  --tw-gradient-mid: var(--s);
  --tw-gradient-end: var(--a);
}

/* Cupcake Theme */
[data-theme='cupcake'] {
  --tw-gradient-start: var(--p);
  --tw-gradient-mid: var(--s);
  --tw-gradient-end: var(--a);
}

/* Retro Theme */
[data-theme='retro'] {
  --tw-gradient-start: var(--p);
  --tw-gradient-mid: var(--s);
  --tw-gradient-end: var(--a);
}
